* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.articles {
    display: flex;
    justify-content: space-around;
}
.table { 
    /* стили для каждой карточки с товаром */
    border: 1px solid lightgray;
    border-radius: 10px;
}

.goodsTable {
    display: flex;
    justify-content: space-around;
}